.gxuax { 
  border-left-width: 76px;
  padding-bottom: 72px;
  border-right-width: 56px;
  margin-bottom: 35px;
  border-left-width: 35px;
  border-top-width: 32px;
  margin-top: 84px;
  font-size: 96px;
  padding-bottom: 82px;
  line-height: 93px;
  margin-bottom: 44px;
  border-left-width: 95px;
  padding-top: 55px;
  border-bottom-width: 22px;
  padding-bottom: 6px;
  margin-top: 58px;
  margin-bottom: 94px;
  border-bottom-width: 6px;
  margin-top: 74px;
  padding-right: 54px;
  padding-bottom: 2px;
  border-left-width: 69px;
  margin-top: 82px;
  padding-top: 41px;
  border-bottom-width: 31px;
}
