.gxuax { 
  border-left-width: 76px;
  padding-bottom: 72px;
  border-right-width: 56px;
  margin-bottom: 35px;
  border-left-width: 35px;
  border-top-width: 32px;
  margin-top: 84px;
  font-size: 96px;
  padding-bottom: 82px;
  line-height: 93px;
  margin-bottom: 44px;
  border-left-width: 95px;
  padding-top: 55px;
  border-bottom-width: 22px;
  padding-bottom: 6px;
  margin-top: 58px;
  margin-bottom: 94px;
  border-bottom-width: 6px;
  margin-top: 74px;
  padding-right: 54px;
  border-left-width: 23px;
  padding-left: 84px;
  padding-top: 34px;
  border-top-width: 21px;
  padding-top: 35px;
  margin-left: 53px;
  margin-left: 47px;
  padding-left: 69px;
  padding-top: 44px;
  padding-right: 84px;
  padding-top: 86px;
  line-height: 72px;
  padding-top: 71px;
  border-bottom-width: 31px;
  padding-right: 94px;
  line-height: 75px;
  padding-right: 34px;
  padding-right: 35px;
  margin-left: 21px;
  padding-top: 81px;
  margin-right: 91px;
  padding-right: 9px;
  border-top-width: 99px;
  margin-right: 36px;
}
